
    <h2>About Us</h2>
    <p>
        MyExpert Medics is building the largest and the most trusted healthcare platform, to empower patient’s in the Indo-Asian region to seek medical advice from the leading healthcare practitioners at the click of a mouse.
        MyExpert Medics is setup by leading medical partitioners and is headquartered in Singapore, which is known for its world class medical facilities and is considered as one of the leading medical hubs globally.
        According to Bloomberg,Singapore’s health care system is the 2nd most efficient in the world. 
        However,visiting Singapore for medical treatment is not possible for everyone due to time, financial and logistical constraints.  (– to say outright its expensive will be not politically correct).
        MyExpert Medics provides the platform for both patients and doctors in the region to access the world class medical expertise via an online portal from the comfort of their home or clinic in a cost-effective way.
        <br>
        MyExpert Medics provides second opinion for complex medical issues, high-risk procedure or difficult treatment decisions directly to patients.
        In addition, doctors in the region may seek another opinion when confronted with challenging cases.
        Patients and/or their physicians can upload medical documents securely on the MyExpert Medics website.
        Data uploaded on the website has end to end encryption and is stored securely until the entire treatment process is completed.
        This information is reviewed by a panel of carefully selected multidisciplinary experts. 
        After discussing each case in detail, the team will provide their recommendations for further workup or treatment as per their expert opinion. 
        If the panel feels they need to review the patient,telemedicine facilities and face-to-face online conversation and review may be offered.
        <br>
        MyExpert Medics also facilitates appointment with the experts in case the patient would like to seek treatment here in Singapore. 
        The Specialities on MyExpert Medics also discusses current medical issues in the region via educational podcasts. 
        MyExpert Medics aims to provide the best in class medical care to the entire region.
        <br/>
    </p>
