/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
    font-size: 15px;
 }

 header {
    min-height: 50px;
    background-size: cover; 
    background-color:rgb(226, 218, 218); 
   }